<!DOCTYPE html>
<html>
  <head>
    <title>Tonify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta property="og:title" content="Tonify" />
    <meta property='og:image' content="<%= image_url('tonify.png') %>"/>
    <meta property="og:description"
      content="A fully functional, single-page music streaming web application inspired by Spotify."
    />
    <meta property="og:url"
      content="http://tonify.herokuapp.com/"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/8af9f21c2f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript">
      window.tonifyBlackURL = "<%= image_url('Tonify_Black.png') %>"
      window.tonifyWhiteURL = "<%= image_url('Tonify_White.png') %>"
      window.likedSongsIcon = "<%= image_url('liked_songs_icon.png') %>"
      window.likedSongs = "<%= image_url('liked_songs.png') %>"
      window.defaultPlaylistPicture = "<%= image_url('default_playlist_image.png') %>"
      window.defaultPlaylistIcon = "<%= image_url('default_playlist_icon.png') %>"
      window.photoOverlay = "<%= image_url('photo_overlay.png') %>"
      window.playButton = "<%= image_url('show_page_play.png') %>"
      window.pauseButton = "<%= image_url('show_page_pause.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
